html {
    min-height: 120%;
}

#title {
    position: absolute;
    width: 80%;
    top: 10%;
    margin: 10%;
    font-size: 50px; 
    color: white;
}

.subtitle {
    font-size: 1.8em;
    font-weight: bold;
}

div.why {
    position: absolute;
    top: 110%;
    margin: 10%;
    width: 80%;
    font-size: 1.2em;
    background-color: rgba(45, 45, 45, 0.40);    
    color: white;
    border: 1px solid white;
    padding: 1%;
    line-height: 150%;
}

div.goals {
    position: absolute;
    top: 280%;
    margin: 10%;
    width: 80%;
    font-size: 1.2em;
    background-color: rgba(45, 45, 45, 0.40);    
    color: white;
    border: 1px solid white;
    padding: 1%;
    line-height: 150%;
}

div.app {
    position: absolute;
    top: 380%;
    margin: 10%;
    font-size: 1.em;
    background-color: rgba(45, 45, 45, 0.40);    
    color: white;
    border: 1px solid white;
    padding: 1%;
}