* {
    font-family: "Raleway",Arial,sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    position: relative;
    width: 100%;
    z-index: -1;
    background: url("images/background_veges.jpg") no-repeat fixed center;
    background-size: cover;
}

a {
    text-decoration: none;
}

#header {
    /* border: solid 1px #CCC; */
    margin: 0;
    width: 100%;
}

#header_sns, #header_nav {
    width: 50%;
    text-align: center;
    margin-top: 1%; 
    /* border: solid 1px #CCC; */
}

#sns_wrapper, #nav_wrapper {
    text-align: center;
    overflow: hidden;
    width: 100%;
    
}
#sns_wrapper .sns_item {
    font-size: 1vw;
    float: right;
    margin-right: 1%;
    font-size: 80%;
}

#sns_wrapper .sns_item a:hover,
#nav_wrapper .nav_item a:hover {
    color: tomato;
}

#nav_wrapper .nav_item {
    font-size: 1vw;
    float: left; 
    padding-left: 8%;
    height: 100%;
}

#header_sns a {
    font-weight: 900;
    color: white;
    letter-spacing: 3px;
    display: inline-block;
}

#header_nav a {
    font-weight: 900;
    color: white;
    letter-spacing: 5px;            
    display: inline-block;
}

#logo {
    /* width: 40%; */
    font-size: 2vw;
    font-weight: bolder;
}