html {
    min-height: 170%;
}

img {
    border: 5px solid white;
}

#item1 {
    position: absolute;
    color: white;
    font-weight: bold;
    letter-spacing: 25px;
    font-size: 5em;
    padding: 20px 5px;
    text-align: center;
    text-transform: uppercase;
    top: 0%;
    width: 20%;
    left: 40%;
}

.title {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-size: 1.6em;
    margin-bottom: 5%;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#box1, #box2, #box3, #box4 {
    position: absolute;
    color: white;
    text-align: center;
    width: 20%;
    height: 40%; 
}

#box1 {
    top: 15%;
    left: 5%;
}

#box2 {
    top: 15%;
    left: 25%;
}

#box3 {
    top: 40%;
    left: 5%;
}

#box4 {
    top: 40%;
    left: 25%;
}

#box1:hover #popup1,
#box2:hover #popup2,
#box3:hover #popup3,
#box4:hover #popup4 {
    display: block;
    position: absolute;
    width: 200%;
    height: 50%;    
    color: white;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 5px solid white;
    background-color: rgba(45, 45, 45, 0.20);
    padding: 10%;
}

#box1:hover #popup1 {
    left: 230%;
    top: 20%;
}

#box2:hover #popup2 {
    left: 130%;
    top: 20%;
}

#box3:hover #popup3 {
    left: 230%;
    top: -32%;
}

#box4:hover #popup4 {
    left: 130%;
    top: -45%;
}

#box1:hover #header1,
#box2:hover #header2,
#box3:hover #header3,
#box4:hover #header4 {
    position: absolute;
    color: white;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 120%;
    height: 20%;
    display: block;
}

#header1 {
    top: 5%;
    left: 270%;
}

#header2 {
    top: 5%;
    left: 170%;
}

#header3 {
    top: -57.5%;
    left: 270%;
}

#header4 {
    top: -57.5%;
    left: 170%;
}

#shelflife_img {
    width: 90%;
    height: 50%;
}

#storage_img {
    width: 90%;
    height: 50%;
}

#expiration_img {
    width: 90%;
    height: 50%;
}

#compost_img {
    width: 90%;
    height: 50%;
}

#background {
    position: absolute;
    width: 100%;
    height: 150%;
    top: 40%;
}