#content {
    margin: 0; padding: 2rem; 
    box-sizing: border-box; display: block;
    border: none; 
    margin-top: 10%; margin-left: 25%;
    width: 50%;
}

.toggle {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-start; align-items: stretch
}
.toggle input {
    display: none;
}
.toggle input + label {
        margin: 0; width: 100%; box-sizing: border-box;
        padding: 2% 0;
        position: relative; display: inline-block;
        color: tomato;
        border: solid 1px #DDD; background-color: #FFF;
        font-size: 1rem; line-height: 140%; font-weight: 600; text-align: center;
        box-shadow: 0 0 0 rgba(255,255,255,0);
        transition: border-color .5s ease-out, 
                    color .25s ease-out, 
                    background-color .5s ease-out,
                    box-shadow .5s ease-out;
        cursor: pointer;
        opacity: 0.9;
    }
#info {border-radius: 6px 0 0 0; border-right: none;}
#track {border-radius: 0 6px 0 0; border-left: none;}

.toggle input:hover + label {border-color: #FFF;}
.toggle input:checked + label {
        background-color:tomato;
        color: #FFF;
        box-shadow: 0 0 10px rgba(#4B9DEA, .5);
        border-color: tomato;
        z-index: 1;
}